/* html{
    height: 100vh;
} */
body{
    background-color: #e7e7e6;
    margin: 0%;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.main{
    display: flex;
    /* flex-direction: column; */
    /* background-color */
}

h1{
    color: #464646;   
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: #464646;
    text-align: center;
    font-size: medium;
    font-weight: 400;
}


section{
    text-align: center;
}


.poketitle
{
    font-size: 20px;
}

.pokemon{
    width: 250px;
    display: inline-block;
    background-color: #f0dba5;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
    box-shadow: 5px 10px #464646;
    border: 2px solid #464646;
    border-radius: 7px;
    opacity: 0.8;   
    border-radius: 10px;
}
.pokemon:hover{
    opacity: 1;
}

p{
    padding: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #464646;
    text-align: center;
}

/* team is the whole thing */
#team{
    /* background-color: rgba(104, 170, 249, 0.7); */
    display: inline-block;
    float: left;
}
/* section within team, each tiny pokemon */
#team section{
    display: flex;
}

#enemy{
    /* background-color: rgba(104, 170, 249, 0.7); */
    display: inline-block;
    float: right;
}
#enemy section{
    
    display: flex;
}


.battle{
    max-height: 100vh;
    max-width: 100vw;
    background-size: 100% 100%;
    background-size: contain;
    background-position: center;
    background-image: url("https://i.redd.it/o8a7u5vl6hb41.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template: repeat(9, 1fr)/ repeat(10,1fr)
}

.colourStrip{
    grid-area: 2/1 /9/1;
    background-color: rgba(104, 170, 249, 0.7);
    max-height: 100%;
} 

.enemycolourStrip{
    grid-area: 2/10 /9/10;
}

.colourStrip section{
    /* width: 2vw; */
    height: 10vh;
    width: auto;
}

/* #battle{

    display: flex;
} */

.player{
    width: 250px;
    height: 250px;
    grid-area: 5/3/7/5;
    transform: rotateY(180); 
    margin-left: -40px;
    -webkit-animation: rotation 4s infinite linear;
    animation: infinite;
}

@keyframes rotation {
    0% {
      -webkit-transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(3deg);
    }
    50% {
      -webkit-transform: rotate(0deg);
    }
    75% {
      -webkit-transform: rotate(-3deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
    }
  }

.cpu{
    width: 250px;
    height: 250px;
    grid-area:  5/5/5/9;
}


/* .main{
    display: grid;
    grid-template-columns: 10px auto auto auto 10px;
    height: 100%; 
} */